<a href="https://colab.research.google.com/github/Srikanth6300/python-new/blob/module-3/module_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##read an entire text file.
import pandas as pd
srikanth = {'companies':['Amazon','Wipro','Adantel','Adobe'],'location':['vjy','Vsp','Blr','hyd']}
x = pd.DataFrame(srikanth)
print(x)

In [ ]:
##read the first n lines of a file.
import pandas as pd
sk = {'companies':['Amazon','Wipro','Adantel','Adobe'],'location':['Hyd','Vsp','Blr','Chennai']}
x = pd.DataFrame(sk)
print(x)

In [ ]:
Check version
import pandas as pd

print(pd.version)

In [ ]:
##append text to a file and display the text.
import pandas as pd
marks = [98,65.89,45,28]
sk = pd.Series(marks)
print(sk)

In [ ]:
##Read numbers from a file and write even and odd numbers to separate files.
import pandas as pd
marks = [98,32.9,41,28]
sk = pd.Series(marks)
print(sk)
print(sk[2])

In [ ]:
##x Count characters, words and lines in a text file.
import pandas as pd
marks = [28, 29.5, 15]
sk = pd.Series(marks, index = ["Dhanush", "sai", "bhanu"])
print(sk)

In [ ]:
##Write a Pandas program to read specific columns from a given excel file
import pandas as pd
marks = [28, 29.5, 15]
sk = pd.Series(marks, index = ["Dhanush", "sai", "bhanu"])
print(sk)
print(mymarks["sai"])

In [ ]:
##x To write a list to a file.
import pandas as pd
sk = {"d1": 12, "d2": 10, "d3": 8}
z = pd.Series(sk)
print(z)

In [ ]:
##Print only limited data as per the labels:
import pandas as pd
sk = {"d1": 12, "d2": 10, "d3": 8}
x = pd.Series(sk,index=["d1","d2"])
print(x)

In [ ]:
##Given a dataframe, select rows based on a condition.
import pandas as pd
sk = {
  "Employees": ["Dhanush", "sai", "bhanu"],
  "Publications": [50, 40, 45]
}
x = pd.DataFrame(sk)
print(x)

In [ ]:
##Given a dataframe, select rows based on a condition.
import pandas as pd
empPublications = {
  "Employees": ["srikanth", "tejas", "ajju"],
  "Publications": [50, 40, 45]
}
myvar = pd.DataFrame(empPublications,index=["2001","2002","2003"])
print(myvar)
print(myvar.loc["2001"])

In [ ]:
##x Given a CSV file or excel file to read it into a dataframe and display it.
import pandas as pd
df = pd.read_csv('sk.csv')
print(df)

In [ ]:
##Given is a dataframe showing the name, occupation, salary of people. Find the average salary per occupation.
import pandas as pd
df = pd.read_csv('sk.csv')
print(df.to_string())

In [ ]:
##x Given a dataframe, select rows based on a condition.
import pandas as pd
pd.options.display.max_rows = 999
df = pd.read_csv(‘sk.csv’)
print(df)